body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.container-h1{
    background-color: palevioletred;
    box-shadow: black;
}

h1{
  font-family: 'Arial Narrow Bold';
  color: gray;
}