body {
  padding-top: 5rem;
  background-color: palevioletred  
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.container-h{
    display: flex;
    height: 200px;
    width: 90%;
    margin-left: 5%;
    background-color: peachpuff;
    box-shadow: 0px 5px 5px rgba(.3,.3,.3, .3);
    flex-direction: column; 
    justify-content: center;
    justify-items: center;
    border-radius: 5px;

}

h1{
  display: flex;
  font-family: arial;
  color: rgb(80, 79, 79);

}
h2{
  display: flex;
}
.margin-for-list{
  margin: 50px;
  color: #321c23
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h3{
    color:#7d4f5e
}
.carousel-item {
    width: 70%;
}